frontend/node_modules

frontend/.cache
frontend/build
frontend/app/build
frontend/public/build/
frontend/public/_dev
frontend/app/public/build
frontend/prisma/dev.sqlite
frontend/prisma/dev.sqlite-journal
frontend/database.sqlite

frontend/.env





frontend/extensions/*/dist

# Ignore shopify files created during app dev
frontend/.shopify/*
frontend/.shopify.lock